<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @categoria_produto.title %>
</p>

<p>
  <strong>Promotions:</strong>
  <%= @categoria_produto.promotions_id %>
</p>

<%= link_to 'Edit', edit_categoria_produto_path(@categoria_produto) %> |
<%= link_to 'Back', categoria_produtos_path %>
